<h1>フォローされているユーザー名一覧</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @followers.each do |follower| %>
      <span><%= follower.name %></span>
      <br>
    <% end %>
  </div>
</div>